# Laravel
/vendor/
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log

# Node.js
/node_modules/
/public/hot
/public/storage
/storage/*.key
/storage/logs/*

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Временные файлы
*.tmp
*.temp


*.bat

# SQL дампы (если не нужны в репозитории)
*.sql
